@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family:"Druk Trial";
  font-size:x-large;
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo_font {
  font-family: "Hybrid";
}

.price {
  font-size: large;
}

.image-container {
  height: 34rem;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
